 .intro {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#tblPlayers {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.conteneur {
    position:relative;
}

.txtcontenu {
    position: absolute;
    left:0;
    top:0;
    opacity:0;
    transition:0.5s;
    display:flex;
    height:100%;
    align-items:center;
    text-align:center;
}

.conteneur:hover .imgcontenu {
    opacity: 0.3;
}

.conteneur:hover .txtcontenu {
    opacity:1;
}
