#btn:active {
    background: red;
}

aside {
    width: 20%;
    display: inline-table;
}

main {
    text-align: center;
}

.ligne1 {
    display: grid;
    grid-template-columns : 3fr 2fr;
}

.wrapper {
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.un {
    grid-column: 1;
    grid-row: 1;
    width: 40%;
    border: black solid;
    margin: auto;
}

.deux {
    grid-column: 3;
    grid-row: 1;
    width: 40%;
    border: black solid;
    margin: auto;
}

.trois {
    grid-column: 2;
    grid-row: 2;
    width: 40%;
    border: black solid;
    margin: auto;
}

.result{
    animation-duration: 5s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
