html, body {
   margin:0;
   padding:0;
   height:100%;
}

#contenu {
   min-height:100%;
   position:relative;
   padding-bottom:100px;   /* Hauteur du pied de page */
}

#footer {
   position:absolute;
   bottom:0;  /* on le colle en bas */
   width:100%;
   height:100px;   /* Hauteur du pied de page */
}

#btn:active {
    background: red;
}

aside {
    width: 20%;
    display: inline-table;
}

main {
    text-align: center;
}

.ligne1 {
    display: grid;
    grid-template-columns : 2fr, 1fr;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.un {
    grid-column: 1;
    grid-row: 1;
    width: 40%;
    border: black solid;
    margin: auto;
}

.deux {
    grid-column: 3;
    grid-row: 1;
    width: 40%;
    border: black solid;
    margin: auto;
}

.trois {
    grid-column: 2;
    grid-row: 2;
    width: 40%;
    border: black solid;
    margin: auto;
}

.result{
    animation-duration: 5s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
