#btn:active {
    background: red;
}

#Historique {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.ligne1 {
    display: grid;
    grid-template-columns : 3fr 2fr;
}

.wrapper {
    display: grid;
    grid-template-columns : repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

img {
    width: 40%;
    border: black solid;
    margin: auto;
    border-radios: 30%;
}
.un {
    grid-column: 1;
    grid-row: 1;
}

.deux {
    grid-column: 3;
    grid-row: 1;
}

.trois {
    grid-column: 2;
    grid-row: 2;
}

.result{
    animation-duration: 5s;
    animation-name: fadein;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
